apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oauth2-proxy
  namespace: nextcloud
spec:
  forwardAuth:
    address: https://oauth2.tmem.de/oauth2/auth
    trustForwardHeader: true
    authResponseHeaders:
      - X-Auth-Request-User
      - X-Auth-Request-Email
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nextcloud-oauth2
  namespace: nextcloud
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: "letsencrypt"
    traefik.ingress.kubernetes.io/router.middlewares: nextcloud-oauth2-proxy@kubernetescrd
spec:
  ingressClassName: "traefik"
  tls:
    - hosts:
        - &host cloud.tmem.de
      secretName: nextcloud-oauth2-tls
  rules:
    - host: *host
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  number: 8080