---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nextcloud-oauth2
  namespace: nextcloud
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: "letsencrypt"
    traefik.ingress.kubernetes.io/router.middlewares: "kube-system-default-oauth@kubernetescrd"
spec:
  ingressClassName: "traefik"
  tls:
    - hosts:
        - &host cloud.tmem.de
      secretName: nextcloud-oauth2-tls
  rules:
    - host: *host
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  number: 8080