apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nextcloud-oauth2
  namespace: nextcloud
  annotations:
    kubernetes.io/tls-acme: "true"
    traefik.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "letsencrypt"
    traefik.ingress.kubernetes.io/proxy-body-size: 10G
    traefik.ingress.kubernetes.io/limit-rps: 12
    #traefik.ingress.kubernetes.io/auth-url: "https://oauth2.tmem.de/oauth2/auth"
    #traefik.ingress.kubernetes.io/auth-signin: "https://oauth2.tmem.de/oauth2/start?rd=$request_uri"
spec:
  ingressClassName: "traefik"
  tls:
    - hosts:
        - &host cloud.tmem.de
      secretName: nextcloud-oauth2-tls
  rules:
    - host: *host
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: nextcloud
                port:
                  number: 8080
