apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default
  namespace: metallb
spec:
  addresses:
    - 192.168.178.120/32
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb
spec:
  ipAddressPools:
    - default
---
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: default
  namespace: metallb
spec:
  ipAddressPools:
    - default
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: private
  namespace: metallb
spec:
  addresses:
    - 192.168.178.92/32
  autoAssign: true
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: private
  namespace: metallb
spec:
  ipAddressPools:
    - private
---
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: private
  namespace: metallb
spec:
  ipAddressPools:
    - private
