apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: internal-only
  namespace: kube-system
spec:
  ipWhiteList:
    sourceRange:
      - 192.168.0.0/16
      - 10.0.0.0/8
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oauth-verify
  namespace: kube-system
spec:
  forwardAuth:
    address: https://oauth2.tmem.de/oauth2/auth
    trustForwardHeader: true
    authResponseHeaders:
      - X-Auth-Request-User
      - X-Auth-Request-Email
      - Authorization
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oauth-signin
  namespace: kube-system
spec:
  errors:
    status:
      - "401"
    service:
      name: oauth2-proxy
      namespace: oauth2
      port: 4180
    query: "/oauth2/sign_in?rd={url}"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oauth
  namespace: kube-system
spec:
  chain:
    middlewares:
      - name: oauth-verify
      - name: oauth-signin