---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: home-assistant-public
  namespace: home-assistant
  annotations:
    kubernetes.io/tls-acme: "true"
    traefik.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "letsencrypt"
spec:
  ingressClassName: "traefik"
  tls:
    - hosts:
        - &host ha.tmem.de
      secretName: home-assistant-public-tls
  rules:
    - host: *host
      http:
        paths:
          - path: /api/alexa/smart_home
            pathType: Prefix
            backend:
              service:
                name: home-assistant
                port:
                  number: 8123
          - path: /auth/
            pathType: Prefix
            backend:
              service:
                name: home-assistant
                port:
                  number: 8123