apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: minio-tobiasmichael
  namespace: minio
spec:
  replacePathRegex:
    regex: "^/(.*)"
    replacement: "/tobiasmichael/$1"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: minio-selinaklepic
  namespace: minio
spec:
  replacePathRegex:
    regex: "^/(.*)"
    replacement: "/selinaklepic/$1"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: minio-moto
  namespace: minio
spec:
  replacePathRegex:
    regex: "^/(.*)"
    replacement: "/moto/$1"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio-tobiasmichael
  namespace: minio
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-http"
    traefik.ingress.kubernetes.io/router.middlewares: minio-minio-tobiasmichael@kubernetescrd
spec:
  ingressClassName: "traefik"
  tls:
    - hosts:
        - tm28.de
        - tmem.de
        - tobiasmichael.de
        - www.tobiasmichael.de
      secretName: tobiasmichael-tls
  rules:
    - host: tm28.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
    - host: tmem.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
    - host: tobiasmichael.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
    - host: www.tobiasmichael.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio-selinaklepic
  namespace: minio
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-http"
    traefik.ingress.kubernetes.io/router.middlewares: minio-minio-selinaklepic@kubernetescrd
spec:
  ingressClassName: "traefik"
  tls:
    - hosts:
        - selinaklepic.com
        - www.selinaklepic.com
        - selinaeffner.de
        - www.selinaeffner.de
      secretName: selinaklepic-tls
  rules:
    - host: selinaklepic.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
    - host: www.selinaklepic.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
    - host: selinaeffner.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
    - host: www.selinaeffner.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio-moto
  namespace: minio
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-http"
    traefik.ingress.kubernetes.io/router.middlewares: minio-minio-moto@kubernetescrd
spec:
  ingressClassName: "traefik"
  tls:
    - hosts:
        - moto.tmem.de
      secretName: moto-tls
  rules:
    - host: moto.tmem.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000